
{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "2.0.0",
        "loose": true,
        "shippedProposals": true,
        "targets": {
          "node": "10.16"
        }
      }
    ],
    "@babel/preset-react"
  ]
}